.projectdetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.outputform{
    margin-top: 20px;
    background: rgb(23, 91, 249);
    width:100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    gap: 20px;
}

#nexteam{
    cursor: pointer;
}

#nexteam:active{
    background:rgb(45, 240, 126);
    outline: none;
}

.detitem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formcontrol{
    width: 800px;
    font-size: 20px;
    border:none;
    border-radius: 5px;
    outline: none;
    overflow-wrap:break-word;
    text-align: left;
}

.formcontroldesc{
    width: 800px;
    font-size: 20px;
    overflow-wrap:break-word;
    text-align: left;
    color: rgb(93, 212, 119);
}

.lab{
    color: aliceblue;
    font-weight: 500;
    font-size: 20px;
}

#ablink:active{
    background:rgb(45, 240, 126);
    outline: none;
}

#ablink{
    cursor: pointer;
    outline: none;
}
