.editguide{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    margin-bottom: 5px;
}

.editguide h1{
    font-weight: 800;
}

.editguidedetails{
    margin-top: 20px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px  rgb(1, 37, 121);;
    background: rgb(255, 252, 252);
}

.editin{
    width: 80%;
    outline: none;
    border-radius: 5px;
}

.editupd{
    background: rgb(6, 6, 65);
    border-radius: 5px;
    width: 20%;
    border: none;
    cursor: pointer;
    color: aliceblue;
}

.editguideinput{
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.editupd:active{
    transform: scale(1.05);
}