.profile{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profiledetails{
    margin-top: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    border: 2px solid black;
}

.profileeachdetail{
    display: flex;
    flex-direction: column;
}

.proin{
    background: rgb(6, 6, 65);
    border-radius: 5px;
    color: aliceblue;
    border: none;
}

.profbut{
    background: rgb(6, 6, 65);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: aliceblue;
}

.adminprofiletable{
    width: 70%;
    text-align: center;
    table-layout: fixed
}

.adminprofiletable th,td{
    border: 1px solid;
}

.guidedproject{
    cursor: pointer;
}