.banner{
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 250px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit:fill;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileall{
    border-radius: 5px; 
    position: absolute;
    top: 100px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profileall h1{
    font-weight: 800;
    color: #fff;
}

.profiledetails{
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    background: #00143d;
}

.profiledivison1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.profiledivison1 h2{
    color: #fff;
}
.profiledivison2{
    background-color: #ffffff;
    border-radius: 2px;
    width: 70%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-height: fit-content;
    padding: 10px;
    gap: 5px;
}

.profileeachdetail{
    display: flex;
    width: 100%;
    padding: 10px;
    box-shadow:2px 2px 2px 2px rgb(101, 101, 101) ;
    color: black;
}

.profileeachdetail label {
    display: inline-block;
    margin-right: 10px;  
    width: 100px;
    font-weight:400;
  }
  
.proin{
    border: none;
    font-weight: 800;
    color: rgb(11, 96, 55);
}

.profbut{
    background: rgb(13, 133, 73);
    border-radius: 2px;
    border: none;
    cursor: pointer;
    color: #fff;
}

.guideskill{
    margin-top: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.guideaof{
    color: #fff;
    background:  rgb(8, 139, 41);
}

.table{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: #00143d;
}

.listheading{
    font-weight: 200;
    color: #fff;
 }

 .projectsitemguided{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
 }

.projecteachitem{
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    background: rgb(8, 139, 41);
}





