.selectinput{
    width: 50%;
    outline: none;
    border: none;
    border-radius: 5px;
}

.selectbut{
    background: rgb(255, 255, 255);
    padding: 5px;
    outline: none;
    border: none;
    width: 10%;
    color: rgb(0, 0, 0);
    font-size: small;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 10px;
    align-items: center;
}

.dynamicinput{
    display: flex;
    width: 50%;
    gap: 5px;
    margin-top: 2px;
}

.rembutdyn{
    background: rgb(255, 255, 255);
    padding: 5px;
    outline: none;
    border: none;
    font-size: small;
    font-weight: 600;
    border-radius: 5px;
}