.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.loginform{
    margin-top: 30px;
    box-shadow: 2px 3px 2px 2px #00143d;;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}

.logintext{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    gap:10px;
    width: 100%;
}

.loginput{
    border: 1.5px solid black;
    border-radius: 5px;
    padding-left: 5px;
}

.logbut{
    width: 100px;
    background: #00143d;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    outline: none;
    transition: box-shadow 0.3s;
    cursor: pointer;
}

button:focus{
    outline: none;
  }

  
.logbut:active{
    background: coral;
  }