.allguides{
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guidecontainer{
    width: 90%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.guideitem{
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px  #b1b7c5;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.guide-id{
    font-weight: 600;
    padding-left: 10px;
}

.guide-name{
    color: rgb(5, 21, 161);
    background: #a4afc9;
    font-weight: 600;
    font-size: 30px;
    padding-left: 10px;
}

.guide-desg{
    font-weight: 600;
    color: seagreen;
    padding-left: 10px;
}

.guideitem:active{
    box-shadow: 0px 0px 5px 1px  #b1b7c5;
}

.guideitem:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 5px 1px  #b1b7c5;
}