.inputupload{
    width: 50%;
    display: flex;
    font-weight: 700;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.customfile{
    max-width: 580px;
    display: flex;
    font-weight: 700;
    background: aliceblue;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.upbut{
    background: aliceblue;
    border: none;
    font-size: medium;
    outline: none;
    font-weight: 600;
    color: black;
    border-radius: 5px;
}

/* .filelabel{
    border: 2px solid red;
    margin-top: 8px;
    color: aliceblue;
    margin-bottom: 20px;
} */

.upbut:active{
    background:rgb(45, 240, 126);
    outline: none;
}



