.addguide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    align-items: center;
    margin-top: 20px;
}

.inputform{
    background: rgb(41, 96, 216);
    width: 100%;
    max-width:1024px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:5px;
    padding: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18PX;
}

.guideinput{
    border: none;
    border-radius: 5px;
    height: 40px;
    outline: none;
}

.guidebut{
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
    outline: none;
}

.guidebut:hover{
    outline: none;
    background:rgb(45, 240, 126);
}



