.addguide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inputform{
    background: rgb(1, 37, 121);
    width: 100%;
    max-width:1024px;
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 5px;
    margin-top: 20px;
    font-weight: 600;
}

.inputuserdet{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.inputuserdetlab{
    color: aliceblue;
}

.guideinput{
    border: none;
    border-radius: 5px;
    padding-left: 5px;
    width: 100%;
    outline: none;
    font-weight: bolder;
}

.guidebut{
    border: none;
    margin-top: 5px;
    padding: 5px;
    outline: none;
    font-size: small;
    font-weight: 600;
    border-radius: 5px;
    background: rgb(1, 37, 121);
    color: aliceblue;
}

.guidebut:active{
    outline: none;
    background:rgb(45, 240, 126);
}



