.allprojects{
    height: 100vh;
    color: azure;
    display: flex;
    justify-content: center;
}

.projectcontainer{
    width: 100%;
    max-width: 1024px;
    background: white;
    height: 100%;
    margin-top: 10px;
}

#projectpointer{
    cursor: pointer;
}

#projectpointer:hover{
    background:rgb(45, 240, 126);
    color: black;
}