.allprojects{
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.projectcontainer{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    gap: 30px;
}

.projectitem{
    box-shadow: 0px 0px 5px 1px  #b1b7c5;
    background: rgb(237, 237, 237);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.project-title{
    font-weight: 600;
    font-size: 25px;
    color: rgb(5, 21, 161);
    padding-left: 10px;
    background: #a4afc9;
}

.project-domain{
    font-weight: 500;  
    padding-left: 10px;
}

.project-status{
    font-weight: 500;
    color: rgb(5, 121, 49);
    padding-left: 10px;
    
}

.projectitem:active{
    box-shadow: 0px 0px 5px 5px #b1b7c5;
}

.projectitem:hover{
    transform: scale(1.05);
    box-shadow: 0px 3px 2px 2px #b1b7c5;
}