.allprojects{
    height: 100vh;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: center;
    margin-top: 50px;
}

.mainhead{
    position: relative;
}

.projectcontainer{
    width: 100%;
    max-width: 1024px;
    background: white;
    height: 100%;
    margin-top: 10px;
}

#projectpointer{
    cursor: pointer;
}

#projectpointer:hover{
    background:rgb(45, 240, 126);
    color: black;
}