.headercontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    border-radius: 10px;
    margin-top: 20px;
    background:rgb(45, 240, 126);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    max-width: 1024px;
}

.header h1{
    font-weight: 800;
}

.filter{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 5px;
}

.drop{
    display: flex;
    justify-content: center;
    gap:10px;
    align-content: center;
    font-weight: 600;
}

.drop select{
    border-radius: 5px;
    outline:none;
    border: none;
    text-align: center;
    font-weight: 600;
}
