.header{
    background:rgb(45, 240, 126);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1{
    font-weight: 800;
}

.filter{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 5px;
}

.drop{
    display: flex;
    justify-content: center;
    gap:10px;
    align-content: center;
    font-weight: 600;
}

.drop select{
    outline:none;
    border: none;
    text-align: center;
    font-weight: 600;
}
