.addstudent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.inputform{
    background: rgb(1, 37, 121);
    width: 100%;
    max-width:1024px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:5px;
    padding: 5px;
    margin-top: 20px;
}

.studinput{
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 20%;
    outline: none;
}

.studbut{
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
    outline: none;
}

.studbut:hover{
    outline: none;
    background:rgb(45, 240, 126);
}