*{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background: rgb(23, 91, 249);
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    gap:8px;
}

.navbut{
    cursor: pointer;
    border: 5px;
    background: aliceblue;
    outline: none;
    color: black;
    font-weight: 600;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}

.navbut:hover {
    background-color:#25da7c;
    transition: 0.7s;
    outline: none;
}

.admin{
    margin-top: 5px;
}