*{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background: rgb(23, 91, 249);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    gap:7px;
}

.navbut{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: transparent;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: medium;
    outline: none;
    padding: 5px;
    transition: box-shadow 0.3s;
}

.navbut:active {
    box-shadow: 0px 0px 2px 2px rgb(45, 240, 126);
    outline: none;
}

.admin{
    margin-top: 5px;
}