*{
    font-family: 'Raleway', sans-serif;
}

.navbar{
    /* background: rgb(21, 21, 143); */
    /* background-image: linear-gradient(180deg,#15158F,#4D53B3); */
    background-color: #00143d;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    gap:7px;
}

.navbut{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    font-weight: 600;
    font-size: medium;
    outline: none;
    padding: 5px;
    transition: box-shadow 0.3s;
}

.navbut:active {
    box-shadow: 0px 0px 1px 2px aliceblue;
    outline: none;
}

.admin{
    margin-top: 5px;
}

.logindropdown{
    width:150px;
    background: rgba(176, 10, 10, 0.966);
    display: flex;
    border-radius: 5px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:82px;
    right:1px;
}

.liststyle{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    list-style: none;
    padding-left: 0;
}

.profilelistitem{
    color: aliceblue;
    cursor: pointer;
}

.profilelistitem:hover{
    font-weight: 600;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}